include /_mixins

doctype html
html(lang='en-us')
  head
    title= title
    //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    +stylesheet_link_tag('main')
    +javascript_include_tag('vendor/all')
    +javascript_include_tag('handlebars_templates')

  body
    #surface
      header
      main
      //- header
      //-   a.boards-button(href='#')
      //-     span(class='icon-large icon-board light')
      //-     p Boards
      //-   .header-search(class='button')
      //-     input(type='text' class='search-field')
      //-     span(class='icon-large icon-search light')
      //-   a.header-logo(href='#')
      //-     | blah
      //-   .user-info
      //-     a.button(href='#')
      //-       span(class='icon-large icon-plus light')
      //-     a.button(href='#')
      //-       span(class='icon-large icon-info light')
      //-     a.button(href='#')
      //-       span(class='icon-large icon-notification light')

      //- main
      //-   .board-wrapper
      //-     .board-content
      //-       .board-header
      //-       .board-lists
      //-         #board
      //-           .list-wrapper(class='add-list')
      //-             .overlay
      //-             .add-list-placeholder
      //-               p Add a list...
      //-             form(class='add-list-form list')
      //-               input(type='text' name="name" placeholder='Add a list...')
      //-               .add-list-controls
      //-                 input(type='submit' value='Save' class='submit-btn')
      //-                 a.cancel-btn(href='#')
      //-                   span(class='icon-large cancel-btn icon-cancel')

    .modal-overlay
    .popover
    block content

    +javascript_include_tag('application')
    +javascript_include_tag('models/board', 'models/list', 'models/card', 'models/comment', 'models/filter', 'models/label')
    +javascript_include_tag('collections/lists', 'collections/cards', 'collections/comments', 'collections/labels')
    +javascript_include_tag('views/header', 'views/board', 'views/list', 'views/lists', 'views/card', 'views/cards', 'views/card_details', 'views/comment', 'views/popover', 'views/labels_popover', 'views/labels_edit', 'views/labels_select', 'views/duedate_popover', 'views/search', 'views/move_popover')
    script(type='text/javascript').
      App.lists = new Lists(!{JSON.stringify(lists)});
      App.cards = new Cards(!{JSON.stringify(cards)});
      App.comments = new Comments(!{JSON.stringify(comments)});
      App.labels = new Labels(!{JSON.stringify(labels)});
    +javascript_include_tag('router')
      //-=App.init(!{JSON.stringify(lists)}, !{JSON.stringify(cards)}, !{JSON.stringify(comments)});

