<div class="popover-header">
  <a href="#" class="close-popover">
    <span class="icon-small icon-cancel"></span>
  </a>
  Labels
</div>
<div class="popover-content">
  {{#each labels}}
  <div class="label-wrapper">
    <div class="label {{color}}" data-color="{{color}}" data-id="{{id}}">
      <p>{{name}}</p>
      <span class="icon-small icon-check selected-label light"></span>
    </div>
    <a href="#" class="edit-label" data-id="{{id}}">
      <span class="icon-large icon-edit"></span>
    </a>
  </div>
  {{/each}}
</div>